.icon-path {

  @apply transition-all duration-200
}

.icon:hover .icon-path {
  stroke-opacity: 1;
   fill-opacity: 1;

}
.icon .icon-path {
  stroke-opacity: 1;
   fill-opacity: 1;

}
.icon .icon-path-active .icon-path {
  stroke-opacity: 1;
   fill-opacity: 1;
}
.icon-path:hover .icon-path {
  stroke-opacity: 1;
  fill-opacity: 1;

}
